<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
   	 	id="application"
         point="org.eclipse.core.runtime.applications">
         <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="fr.alainco.jhttpp2.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         id="jhttpp2"
         point="org.eclipse.core.runtime.products">
      <product
            application="fr.alainco.jhttpp2.rcp.application"
            name="jHTTPp2 proxy">
         <property
               name="appName"
               value="jHTTPp2 proxy">
         </property>
      </product>
   </extension>

</plugin>
